@font-face {
    font-family: 'TT Lakes';
    src: url(../assets/fonts/TTLakes-Regular.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TT Lakes";
    src: url(../assets/fonts/TTLakes-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url(../assets/fonts/TTLakes-Bold.woff);
    font-weight: bold;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

aside {
    max-width: 320px;
    min-height: 100vh;
    position: relative;
    background-color: #ffffff;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
      -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    top: 0;
    left: 0;
    font-size: 16px;
    font-family:"TT Lakes" , sans-serif;
}
.inner-container {
    min-height: 100vh;
    padding:23px 24px ;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header__buttons {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.header__container {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px ;
}

.header__close {
    margin-right: 16.5px;
    background:url(../assets/img/burger.svg) no-repeat;
}

.header__logo {
    margin-right: 78.73px;
}

.header__search {
    background: url(../assets/img/search.svg) no-repeat;
}
nav {
    position: relative;
    font-weight: 500;
    padding: 25px 0;
}
.menu ul {
    position: relative;
}

.menu__item li,
.menu__item-activ li {
    margin-bottom: 32px;
    cursor: pointer;
}

.menu__item li {
    color: #1B1C21;
}

.menu__item-activ li {
    color:#7E7E82;
}
.menu__item,
.menu__item-activ {
    position: relative;
}

.menu__item-activ:before{
    content:"";
    position:absolute;
    background-color:#41F6D7;
    border-radius: 0 5px 5px 0;
    width: 4px;
    height: 32px;
    left: -24px;
    top:-5px;
    z-index: 5;
}
.menu__item:before{
    content:"";
    position:absolute;
    background-color:transparent;
    border-radius: 0 5px 5px 0;
    width: 4px;
    height: 32px;
    left: -24px;
    top:-5px;
    z-index: 5;
}
.menu__item:hover::before{
    background-color: rgb(252, 149, 149);
    transition: background-color 0.6s;
}

.menu__item li:hover{
    color:rgb(255, 87, 87);
    transition: color 0.6s;
}
.footer {
    margin-top: auto;
}

.footer__buttons{
    display: flex;
    margin-right: auto;
    margin-bottom: 16px;
}
.footer__button-call {
    background: url(../assets/img/call.svg) no-repeat;
}
.footer__button-message {
    background: url(../assets/img/chat.svg) no-repeat;
}
.footer__button-profie {
    background: url(../assets/img/profile.svg) no-repeat;
}
.email {
    margin-bottom: 12px;
    color: #1B1C21;
    margin-bottom: 12px;
    display: block;
}
.number {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 24px;
    color: #1B1C21;
    display: block;
    margin-bottom: 40px;
}
.footer__button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 16px;
    cursor: pointer;
}

.footer__languages  {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    font-weight: 500;
}

.footer__languages input {
    display: none;
}

.footer__languages label {
    margin-right: 7px;
    cursor: pointer;
    color:#1B1C21;
}
.footer__languages label:hover {
    color:rgb(255, 87, 87);
    transition: color 0.6s;
}
.language-active {
    color:#7E7E82;
}